@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" id="about-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="@Url.Content("~/styles/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <div id="header-wrapper">
        <nav class="mainnav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Table">Hospital Charge Dataset</a></li>
                <li><a asp-controller="Home" asp-action="Chart">Visualizing Insights</a></li>
            </ul>
            <hr />
            <h1>Meet The Team</h1>
        </nav>

        <div id="meet-the-team">
            <div class="avatar">
                <img src="@Url.Content("~/styles/img/Darya.jpg")" alt="Darya Gahramanova">
                <h4>Darya Gahramanova</h4>
                <ul>
                    <li>
                        MS in Business Analytics/Information Systems
                    </li>
                    <li>
                        Bachelor in Business Administration
                    </li>
                    <li>
                        Contribution: API, SQL, Graphs, CSS, JS
                    </li>
                </ul>
                <div class="social">
                    <a href="https://github.com/daryagah">
                        <img src="@Url.Content("~/styles/img/github logo.png")" alt="Github" width="25" height="25">
                    </a>
                    <a href="https://www.linkedin.com/in/darya-gahramanova-2b557294/">
                        <img src="@Url.Content("~/styles/img/in logo.png")" alt="Linkedin" width="25" height="25">
                    </a>
                </div>
            </div>
            <div class="avatar">
                <img src="@Url.Content("~/styles/img/Natalia.jpg")" alt="Natalia Morino">
                <h4>Natalia Morino</h4>
                <ul>
                    <li>
                        MS in Business Analytics/Information Systems
                    </li>
                    <li>
                        BS in Economics
                    </li>
                    <li>
                        Contribution: Home page, Statistics
                    </li>
                </ul>
                <div class="social">
                    <a href="https://github.com/nataliamorino/">
                        <img src="@Url.Content("~/styles/img/github logo.png")" width="25" height="25">
                    </a>
                    <a href="https://www.linkedin.com/in/natalia-morino/">
                        <img src="@Url.Content("~/styles/img/in logo.png")" alt="Linkedin" width="25" height="25">
                    </a>
                </div>
            </div>
            <div class="avatar">
                <img src="@Url.Content("~/styles/img/Zarema.png")" alt="Gulzarema Mardenova">
                <h4>Gulzarema Mardenova</h4>
                <ul>
                    <li>
                        MS in Business Analytics/Information Systems
                    </li>
                    <li>
                        BS in Finance
                    </li>
                    <li>
                        Contribution: API, SQL, Filtering, Sorting, About us
                    </li>
                </ul>
                <div class="social">
                    <a href="https://github.com/mardenova">
                        <img src="@Url.Content("~/styles/img/github logo.png")" alt="Github" width="25" height="25">
                    </a>
                    <a href="https://www.linkedin.com/in/gulzarema-mardenova-12572610a">
                        <img src="@Url.Content("~/styles/img/in logo.png")" alt="Linkedin" width="25" height="25">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("/styles/js/jquery.min.js")"></script>
    <script src="@Url.Content("/styles/js/jquery.scrolly.min.js")"></script>
    <script src="@Url.Content("/styles/js/main.js")"></script>
</body>

</html>