@model IEnumerable<Assignment4.Models.Hospital>

@{
    Layout = null;
}

<!DOCTYPE html>
<html id="graphs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="@Url.Content("~/content/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <title>Visualizing Insights</title>
</head>
<body>

    <div class="main">
        <div id="header-wrapper">
            <nav class="mainnav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                    <li><a asp-controller="Home" asp-action="Table">Hospital Charge Dataset</a></li>
                    <li><a asp-controller="Home" asp-action="Chart">Visualizing Insights</a></li>
                </ul>
                <hr />
            </nav>

            <h1>Visualizing Insights</h1>
        </div>

        <nav id="graph-nav">
            <ul>
                <li><a asp-controller="Home" asp-action="DischargesByState">Total Discharges by State</a></li>
                <li><a asp-controller="Home" asp-action="AveragePaymentsByState">Average Total Payments by State</a></li>
                <li><a asp-controller="Home" asp-action="PaymentDifferenceByState">Difference in Average Total Payments by State</a></li>
            </ul>
        </nav>

        <div class="content" style="margin-top:10px; display:block;">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Desc</p>
                <canvas id="chart"></canvas>
            <br />
            <div id="chart-table">
                <table id="table-only">
                    <thead>
                        <tr>
                            <th>
                                Provider State
                            </th>
                            <th>
                                Total Discharges
                            </th>
                            <th>
                                Average Covered Charges
                            </th>
                            <th>
                                Average Total Payments
                            </th>
                            <th>
                                Average Medicare Payments
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.provider_state)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.total_discharges)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_covered_charges)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_medicare_payments)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_medicare_payments_2)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        new Chart(document.getElementById("chart"), {
          type: 'bar',
          data: {
            labels: [@Html.Raw(@ViewBag.Labels)],
            datasets: [
              {
                label: '@ViewBag.Label',
                backgroundColor: "#FFA07A",
                    data: [@Html.Raw(@ViewBag.Data)]
                  }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              },
          }
        });
    </script>
    <script src="@Url.Content("/content/js/jquery.min.js")"></script>
    <script src="@Url.Content("/content/js/jquery.scrolly.min.js")"></script>
    <script src="@Url.Content("/content/js/main.js")"></script>
</body>
</html>

