@model IEnumerable<Assignment4.Models.Provider>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" id="sub">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="@Url.Content("~/styles/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <title>Hospital Charge Dataset</title>
</head>
<body>

    <div id="header-wrapper">
        <nav class="mainnav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Table">Hospital Charge Dataset</a></li>
                <li><a asp-controller="Home" asp-action="Chart">Visualizing Insights</a></li>
            </ul>
            <hr />
        </nav>

        <h1>Information by Location</h1>
    </div>

    <div class="content">

        <h2>Inpatient Prospective Payment System (IPPS) Provider Summary for the Top 100 Diagnoses-Related Groups (DRF) FY2011</h2>
        <ul>
            <li>
                163K rows and 12 variables
            </li>
            <li>
                Search by Provider State or Provider’s by Provider City
            </li>
        </ul>
        <h2>Variables</h2>
        <ul>
            <li>
                DRG Definition: The code and description identifying the MS-DRG. MS-DRGs are a classification system that groups similar clinical conditions (diagnoses) and the procedures furnished by the hospital during the stay.
            </li>
            <li>
                Provider Id: The CMS Certification Number (CCN) assigned to the Medicare certified hospital facility.
            </li>
            <li>Provider Name: The name of the provider. </li>
            <li>Provider Street Address: The provider’s street address.</li>
            <li>Provider City: The city where the provider is located.</li>
            <li>Provider State: The state where the provider is located.</li>
            <li>Provider Zip Code: The provider’s zip code.</li>
            <li>Provider HRR: The Hospital Referral Region (HRR) where the provider is located.</li>
            <li>Total Discharges: The number of discharges billed by the provider for inpatient hospital services.</li>
            <li>Average Covered Charges: The provider's average charge for services covered by Medicare for all discharges in the MS-DRG. </li>
            <li>Average Total Payments: The average total payments to all providers for the MS-DRG including the MSDRG amount, teaching, disproportionate share, capital, and outlier payments for all cases. Also included in average total payments are co-payment and deductible amounts that the patient is responsible for and any additional payments by third parties for coordination of benefits. </li>
            <li>Average Medicare Payments: The average amount that Medicare pays to the provider for Medicare's share of the MS-DRG.</li>
        </ul>
        @using (Html.BeginForm())
        {
            <div class="search">
                Search by Provider State: @Html.TextBox("searchProvState")
                <input type="submit" value="Search" />
            </div>
            <div class="search">
                Search by Provider City: @Html.TextBox("searchProvCity")
                <input type="submit" value="Search" />
            </div>
            <br />
            <div class="search">
                Sort by clicking on column name
            </div>
        }
        <div id="table" style="overflow-y:auto; height: 800px;">
            <table id="table-only">
                <thead>
                    <tr>
                        <th>
                            DRG Definition
                        </th>
                        <th>
                            @Html.ActionLink("Provider Name", "Table", new { sortOrder = ViewBag.NameSortParam })
                        </th>
                        <th>
                            Provider Street Address
                        </th>
                        <th>
                            @Html.ActionLink("Provider City", "Table", new { sortOrder = ViewBag.CitySortParam })
                        </th>
                        <th>
                            @Html.ActionLink("Provider State", "Table", new { sortOrder = ViewBag.StateSortParam })
                        </th>
                        <th>
                            Provider ZipCode
                        </th>
                        <th>
                            Hospital Referral Region Description
                        </th>
                        <th>
                            @Html.ActionLink("Total Discharges", "Table", new { sortOrder = ViewBag.DischargesSortParam })
                        </th>
                        <th>
                            @Html.ActionLink("Average Covered Charges", "Table", new { sortOrder = ViewBag.CovChargesSortParam })
                        </th>
                        <th>
                            @Html.ActionLink("Average Total Payments", "Table", new { sortOrder = ViewBag.TotalPmtsSortParam })
                        </th>
                        <th>
                            @Html.ActionLink("Average Medicare Payments", "Table", new { sortOrder = ViewBag.MedicSortParam })
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.drg_definition)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provider_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provider_street_address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.provider_city)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.provider_state)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provider_zip_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.hospital_referral_region_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_discharges)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.average_covered_charges)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.average_medicare_payments)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.average_medicare_payments_2)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
