@model IEnumerable<Assignment4.Models.Hospital>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hospitals</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    DRG Definition
                </th>
                <th>
                    Provider Name
                </th>
                <th>
                    Provider Street Address
                </th>
                <th>
                    Provider City
                </th>
                <th>
                    Provider State
                </th>
                <th>
                    Provider ZipCode
                </th>
                <th>
                    Hospital Referral Region Description
                </th>
                <th>
                    Total Discharges
                </th>
                <th>
                    Average Covered Charges
                </th>
                <th>
                    Average Total Payments
                </th>
                <th>
                    Average Medicare Payments
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.drg_definition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.provider_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.provider_street_address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.provider_city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.provider_state)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.provider_zip_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hospital_referral_region_description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_discharges)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.average_covered_charges)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.average_medicare_payments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.average_medicare_payments_2)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
